
Release/player.exe
Release/player.vshost.exe.manifest
Release/player.vshost.exe
Release/player.pdb
player/obj/Debug/player.Properties.Resources.resources
player/obj/Debug/player.pdb
player/obj/Debug/player.exe
player/obj/Debug/player.csprojResolveAssemblyReference.cache
player/obj/Debug/player.csproj.GenerateResource.Cache
player/obj/Debug/player.csproj.FileListAbsolute.txt
player/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Release/debug.log
player/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
player/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
player/obj/x86/Debug/player.Properties.Resources.resources
player/obj/x86/Debug/player.pdb
player/obj/x86/Debug/player.exe
player/obj/x86/Debug/player.csproj.GenerateResource.Cache
player/obj/x86/Debug/player.csproj.FileListAbsolute.txt
.vs/player/v14/.suo
